---
---

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.endutek.com.br$ [NC]
RewriteRule ^(.*)$ http://endutek.com.br/$1 [R=301,L]

RewriteEngine On
RewriteRule ^informacoes-tecnicas(-detalhe)?\.asp.* http://blog.endutek.com.br/ [R=301,L]

RewriteEngine On
RewriteRule ^(contato)|(index)|(cadastro)|(fale)|(cad)\.asp.* http://endutek.com.br/ [R=301,L]

RewriteEngine On
RewriteRule ^m(obile)? http://endutek.com.br/ [R=301,L]

RewriteEngine On
RewriteRule ^(empresa|produtos|aplicacoes)\.asp.* http://endutek.com.br/$1 [R=301,L]

RewriteEngine On
RewriteRule ^sobre-a-endutek\.asp.* http://endutek.com.br/empresa [R=301,L]

RewriteEngine On
RewriteRule ^produto\.asp.* http://endutek.com.br/produtos [R=301,L]

RewriteEngine On
RewriteRule ^({% for app in site.aplicacoes %}{% assign crumbs = app.url | split: '/' %}{{ crumbs[2] }}{% if forloop.last != true %}|{% endif %}{% endfor %})\.asp.* http://endutek.com.br/aplicacoes/$1 [R=301,L]

RewriteEngine On
RewriteRule ^({% for cat in site.categorias %}{% assign crumbs = cat.url | split: '/' %}{{ crumbs[2] }}{% if forloop.last != true %}|{% endif %}{% endfor %})\.asp.* http://endutek.com.br/produtos/$1 [R=301,L]

{% for pro in site.produtos %}{% assign crumbs = pro.url | split: '/' %}
RewriteEngine On
RewriteRule ^{{ crumbs[3] }}\.asp.* {{ pro.url }} [R=301,L]
{% endfor %}

RewriteEngine On
RewriteRule ^mangueiras\.asp.* /produtos [R=301,L]

RewriteEngine On
RewriteRule ^vedacoes\.asp.* /produtos/lencois-de-borracha [R=301,L]

RewriteEngine On
RewriteRule ^colas-e-silicones\.asp.* /produtos/adesivos-colas-silicones [R=301,L]

RewriteEngine On
RewriteRule ^adesivos\.asp.* /produtos/adesivos-colas-silicones/colas/ [R=301,L]

RewriteEngine On
RewriteRule ^produtos/mangueiras-industriais/mangueira-para-hidrante* /produtos/mangueiras-industriais/mangueiras-para-hidrante-incendio/ [R=301,L]
