---
layout: default
---

<section class="page-content section-gallery">
  <div class="wrapper" data-grid="spacing">
    <div class="slideshow" data-cell="2of3">
    {% for c in site.categorias %}{% capture c_name %}{% assign c_crumbs = c.url | split: '/' %}{{ c_crumbs[2] }}{% endcapture %}
      {% if site.data.features.categorias contains c_name %}
        <article class="slide" data-grid="column around">
          <h4 class="slide-title" data-cell="shrink"><a href="{{ site.base }}{{ c.url }}">{{ c.title }}</a></h4>
          <p class="slide-excerpt" data-cell="shrink">{{ c.excerpt | strip_html | truncatewords: 25 }}</p>
        </article>
      {% endif %}
    {% endfor %}
    </div>
    <div data-cell="1of3" data-grid="column justify">
      <section data-cell="shrink">
        <h4>Baixe os catálogos:</h4>
        {% for file in site.data.features.catalogos %}
          <p><a href="{{ site.baseurl }}/downloads/{{ file.file }}" target="_blank" data-btn class="icon">{% include svg/down-arrow.svg %} {{ file.title }}</a></p>
        {% endfor %}
      </section>
      <section data-cell="shrink"><a href="{{ site.baseurl }}/produtos/" data-btn="brand 100% cta">EXPLORE OS PRODUTOS</a></section>
    </div>
  </div>
</section>

<section class="page-content section-about hero">
  <div class="wrapper" data-grid="center spacing">
    <div class="svg-container" data-cell="1of3">{% include svg/mapa-do-Brasil.svg %}</div>
    <div data-cell="2of3">
      <h2>Atendemos todo o Brasil!</h2>
      <p>{{ site.description }}</p>
      <div data-grid="spacing">
        <div data-cell="2of3">
          <p>Entre em contato e tire dúvidas:</p>
          <ul>
            <li><a href="#contato">Informações de contato...</a></li>
            <li><a href="{{ site.data.empresa.facebook }}" target="_blank">Siga nossa fan page</a></li>
          </ul>
        </div>
        <div data-cell="1of3">
          <img src="/img/pro-s.png" alt="Pro-S Pneumática">
          <p data-text="center small">Importador exclusivo dos produtos Pro-S Pneumática.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-content section-features" data-grid="spacing" data-text="center">
  {% assign features = "/empresa/ /produtos/ /aplicacoes/" | split: " " %}
  {% for link in features %}
  
    {% for p in site.pages %}
      {% if p.permalink == link %}
        <div data-cell="1of3" data-grid="column justify">
          <h3>{{ p.title }}</h3>
          <p>{{ p.excerpt }}</p>
          <p data-cell="shrink"><a href="{{ p.url | prepend: site.baseurl }}" data-btn="round brand">{{ p.menu-title }}</a></p>
        </div>
      {% endif %}
    {% endfor %}
  
  {% endfor %}
</section>
