---
layout: default
---

<section class="page-content hero">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="1of3"><img src="/img/mapa-do-Brasil.svg" alt="Mapa do Brasil"></div>
    <div data-cell="2of3">
      <h2>Atendemos todo o Brasil!</h2>
      <p>{{ site.description }}</p>
      <div data-grid="spacing">
        <div data-cell="2of3">
          <p>Entre em contato e tire dúvidas:</p>
          <ul>
            {% for tel in site.data.empresa.telefones %}
              <li><a href="tel:{{ tel.numero }}">{{ tel.title }}</a></li>
            {% endfor %}
            <li><a href="#contato">Formulário de contato...</a></li>
          </ul>
        </div>
        <div data-cell="1of3">
          <img src="/img/pro-s.png" alt="Pro-S Pneumática">
          <p data-text="center small">Importador exclusivo dos produtos Pro-S Pneumática.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-content" data-grid="spacing">

{% assign features = "/sobre/ /produtos/ /aplicacoes/" | split: " " %}
{% for link in features %}

  {% for p in site.pages %}
    {% if p.permalink == link %}
      <div class="wrapper" data-cell="1of3">
        <h3>{{ p.title }}</h3>
        <p>{{ p.content | strip_html | truncatewords: 15 }}</p>
        <p><a href="{{ p.url | prepend: site.baseurl }}">CONTINUE LENDO</a></p>
      </div>
    {% endif %}
  {% endfor %}

{% endfor %}
</section>

<section class="page-content">
  
  <div class="wrapper">

    <h1 class="page-heading">Blog</h1>
  
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p>{{ post.excerpt }}</p>
        </li>
      {% endfor %}
    </ul>
  
    <p class="rss-subscribe">Assine o <a href="{{ "/feed.xml" | prepend: site.baseurl }}">feed RSS</a></p>
  
  </div>

</section>
