---
---

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity password="Ne0499013" userName="endutek" />
    </system.web>
    <system.webServer>
        <urlCompression doDynamicCompression="false" />
        <defaultDocument enabled="true">
            <files>
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.php" />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="index.aspx" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="File" >
            <remove statusCode="500" />
            <error statusCode="500"
                prefixLanguageFilePath="/erros"
                path="500.html" />
        </httpErrors>
        <handlers>
            <add name="PHP-FastCGI7.0" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.0\php-cgi.exe" resourceType="File" />
        </handlers>
        <rewrite>
          <rules>

            <rule name="Rewrite info">
                <match url="^informacoes-tecnicas\.asp.*" />
                <action type="Rewrite" url="blog.endutek.com.br" />
            </rule>

            <rule name="Rewrite contato">
              <match url="^contato\.asp.*" />
              <action type="Rewrite" url="/" />
            </rule>

            <rule name="Rewrite Homes">
              <match url="^(empresa|produtos|aplicacoes)\.asp.*" />
              <action type="Rewrite" url="{R:1}" />
            </rule>
            <rule name="Rewrite Aplicacoes">
              <match url="^({% for app in site.aplicacoes %}{% assign crumbs = app.url | split: '/' %}{{ crumbs[2] }}{% if forloop.last != true %}|{% endif %}{% endfor %})\.asp.*" />
              <action type="Rewrite" url="aplicacoes/{R:1}" />
            </rule>
            <rule name="Rewrite Categorias">
              <match url="^({% for cat in site.categorias %}{% assign crumbs = cat.url | split: '/' %}{{ crumbs[2] }}{% if forloop.last != true %}|{% endif %}{% endfor %})\.asp.*" />
              <action type="Rewrite" url="produtos/{R:1}" />
            </rule>

            {% for pro in site.produtos %}{% assign crumbs = pro.url | split: '/' %}
            <rule name="Rewrite {{ pro.title | xml_escape }}">
              <match url="^{{ crumbs[3] }}\.asp.*" />
              <action type="Rewrite" url="{{ pro.url }}" />
            </rule>
            {% endfor %}
            
            <rule name="Rewrite mangueiras">
              <match url="^mangueiras\.asp.*" />
              <action type="Rewrite" url="produtos" />
            </rule>

            <rule name="Rewrite vedacoes">
              <match url="^vedacoes\.asp.*" />
              <action type="Rewrite" url="produtos/lencois-de-borracha" />
            </rule>

          </rules>
        </rewrite>
    </system.webServer>
</configuration>
