<section class="section-contato" id="contato" data-modal="" data-grid="center">
	<form action="/enviar_email.php" method="post" class="wrapper">
		<h4>Fale conosco</h4>
		<p data-grid="justify spacing wrap">
			<small data-cell="shrink"><a href="mailto:{{ site.data.empresa.emails[0].mailto }}" onclick="ga('send', 'event', 'Contato', 'E-mail', 'Formulário de contato');">{{ site.data.empresa.emails[0].mailto }}</a></small>
			{% for tel in site.data.empresa.telefones %}
				<small data-cell="shrink"><a href="tel:{{ tel.numero }}" onclick="ga('send', 'event', 'Contato', '{{ tel.title }}', 'Formulário de contato');">{{ tel.title }}</a></small>
			{% endfor %}
		</p>
		<p><label for="nome">Nome</label><input type="text" name="nome" placeholder="Nome Completo" required></p>
		<div data-grid="spacing cols-2">
			<p><label for="email">E-mail</label><input type="email" name="email" placeholder="email@dominio.com" required></p>
			<p><label for="telefone">Telefone</label><input type="tel" name="telefone" placeholder="(00) 9 0000-0000" required></p>
		</div>
		<p><label for="mensagem">Mensagem</label><textarea name="mensagem" cols="30" rows="5" placeholder="Digite a sua mensagem"></textarea></p>
		<p class="honeypot"><label for="honey">Se estiver vendo isto, deixe este campo em branco</label><input type="text" name="honey"></p>
		<div data-grid="spacing row nowrap cols-2">
			<p><a href="#x">FECHAR</a></p>
			<p><button data-block="100%" data-btn="brand">ENVIAR</button></p>
		</div>
	</form>
</section>