<img src="/img/paisagem-rodape.svg" class="footer-image" width="100%" alt="Rodapé: silhueta urbana">
<footer class="site-footer">

  <div class="wrapper" data-grid="center spacing">

    <div data-cell="1of2">
    	<h2 class="footer-heading">{{ site.title }}</h2>
    	<p>{{ site.data.empresa.endereco }} - {{ site.data.empresa.cidade }}</p>
      {% assign telefone = site.data.empresa.telefones[0] %}
      <p data-grid="center spacing"><a data-cell="shrink" href="tel:{{ telefone.numero }}">{{ telefone.title }}</a> <a data-btn="round brand" href="#contato">Contato</a></p>
    </div>

    <div data-cell="1of2">
    	<ul class="post-list">
        {% for my_page in site.pages %}
          {% if my_page.menu-title %}
          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menu-title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>

</footer>

{% include contato.html %}