<img src="/img/paisagem-rodape.svg" class="footer-image" width="100%" alt="Rodapé: silhueta urbana">
<footer class="site-footer">

  <div class="wrapper" data-grid="center spacing">

    <div data-cell="2of3">
    	<h2 class="footer-heading">{{ site.title }}</h2>
    	<p>{{ site.data.empresa.endereco }} - {{ site.data.empresa.cidade }}</p>
      <p><a data-btn="round brand" href="#contato" onclick="ga('send', 'event', 'Contato', 'Abrir formulário', 'Rodapé');">Contato</a></p>
    </div>

    <div data-cell="1of3 fill" data-grid="row nowrap spacing">

      <div data-cell="1of2">
        <ul class="post-list">
          {% for my_page in site.pages %}
            {% if my_page.menu-title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menu-title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      
      <div data-cell="1of2">
        <ul class="post-list">
          <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
          <li><a href="{{ site.data.empresa.facebook }}" target="_blank" onclick="ga('send', 'event', 'Navegar', 'Facebook', 'Rodapé');">Facebook</a></li>
          {% assign telefone = site.data.empresa.telefones[0] %}
          <li><a href="tel:{{ telefone.numero }}" onclick="ga('send', 'event', 'Contato', '{{ telefone.title }}', 'Rodapé');">{{ telefone.title }}</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>

{% include contato.html %}