%negativo
    background-color: $grey-color-dark
    color: $background-color

.site-header
    min-height: 56px
    width: 100%
    padding-top: 15px
    padding-bottom: 25%
    position: relative
    background:
        image: url('/img/paisagem-urbana.svg')
        position: 50% 100%
        size: 100%
        repeat: no-repeat
        color: #daf3ff

.site-title
    font-size: 26px
    font-weight: 300
    line-height: 56px
    letter-spacing: -1px
    margin-bottom: 0
    float: left
    img
        max-height: 56px
    &, &:visited
        color: $grey-color-dark

.site-nav
    float: right
    line-height: 56px
    .menu-icon
        display: none
    .page-link
        color: $text-color
        line-height: $base-line-height
        // Gaps between nav items, but not on the last one
        margin-left: $spacing-unit / 2
    +media-query($on-palm)
        position: absolute
        top: 9px
        right: $spacing-unit / 2
        border-radius: 5px
        border: 1px solid transparent
        text-align: right
        .menu-icon
            display: block
            float: right
            width: 36px
            height: 26px
            line-height: 0
            padding-top: 10px
            text-align: center
            > svg
                width: 18px
                height: 15px
                path
                    fill: $grey-color-dark
        .trigger
            clear: both
            display: none
        &:hover
            background-color: $background-color
            border: 1px solid $grey-color-light
            .trigger
                display: block
                padding-bottom: 5px
        .page-link
            display: block
            padding: 5px 10px
            margin: 5px

.footer-image
    margin-bottom: -1px

.site-footer
    @extend %negativo
    font-size: $small-font-size
    padding: $spacing-unit 0

.page-content
    padding: $spacing-unit 0

    &.hero
        background-color: $brand-color
        color: #fff
        a
            color: #7fff00

.post-list
    margin-left: 0
    list-style: none
    > li
        margin-top: $spacing-unit / 4
        margin-bottom: $spacing-unit / 4

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-link
    display: block
    font-size: $base-font-size * 1.3
    line-height: 1
    margin-top: $spacing-unit / 3
    margin-bottom: $spacing-unit / 3

.post-header
    margin-bottom: $spacing-unit

.post-title
    letter-spacing: -1px
    line-height: 1
    +media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit

.section-features
    padding-left: $spacing-unit
    padding-right: $spacing-unit
    +media-query($on-laptop)
        padding-left: $spacing-unit / 2
        padding-right: $spacing-unit / 2

.lista-produtos
    min-width: 10em
    padding: $spacing-unit / 2
    background-color: $grey-color-light
    border-radius: 4px
    +media-query($on-laptop)
        padding: $spacing-unit / 4

.lista-header
    margin-bottom: $spacing-unit / 2
    border-bottom: 1px solid $grey-color

.produtos-categoria
    margin-top: $spacing-unit / 2
    margin-bottom: $spacing-unit / 2
    &:not(.selected)
        .produtos-subitem
            display: none
        .post-list:hover
            .produtos-subitem
                display: block
                animation: showlink 1s forwards ease-in-out
                @for $i from 1 through 10
                    &:nth-of-type(#{$i})
                        animation-duration: .1s * $i
    &.selected
        .produtos-item:not(.produtos-subitem)
            margin-left: -$spacing-unit / 1.5
            margin-right: -$spacing-unit / 4
            padding-left: $spacing-unit / 1.5
            padding-right: $spacing-unit / 4
            padding-top: 1px
            padding-bottom: 1px
            background-color: $brand-color
            a
                color: #fff
        .produtos-subitem
            display: block

    .produtos-subitem
        padding-left: 1em
        transform-origin: top left

@keyframes showlink
    0%
        opacity: 0
        transform: scale(0)
    100%
        opacity: 1
        transform: scale(1)

