---
layout: default
---

{% capture categoria %}{% assign page_crumbs = page.url | split: '/' %}{{ page_crumbs[2] }}{% endcapture %}
{% capture subcategoria %}{% assign page_crumbs = page.url | split: '/' %}{{ page_crumbs[3] }}{% endcapture %}
{% capture page_img %}{{ '/img/aplicacoes/' | prepend: site.baseurl }}{{ categoria }}{% if subcategoria != '' %}{{ subcategoria | prepend: '/' }}{% endif %}{{ '.jpg' }}{% endcapture %}

<div class="page-content">

  <div class="wrapper" data-grid="spacing">

  	<article data-cell="2of3">
  	
  	  <header class="post-header">
  	    <h1 class="post-title">{{ page.title }}</h1>
  	  </header>

			{% for static_file in site.static_files %}
				{% if static_file.path == page_img %}
					<img src="{{ page_img }}" alt="page.title">
				{% endif %}
			{% endfor %}
			{{ content }}
  	
  	</article>

    <aside class="lista lista-aplicacoes" data-cell="1of3">

    	<header class="lista-header">
    		<h2>Aplicações</h2>
    	</header>

    	{% for ap in site.aplicacoes %}
    		<article>
    			<a href="{{ ap.url | prepend: site.baseurl }}" class="post-link">{{ ap.title }}</a>
    		</article>
    	{% endfor %}

    </aside>

  </div>

</div>