---
layout: default
---

{% capture categoria %}{% assign page_crumbs = page.url | split: '/' %}{{ page_crumbs[2] }}{% endcapture %}

<div class="page-content">

  <div class="wrapper" data-grid="spacing">

    <article class="post" data-cell="2of3">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      <div class="post-content">
        {{ content }}
      </div>
    
    </article>

    <aside class="lista lista-produtos" data-cell="1of3">
      
      <header class="lista-header">
        <h2>Produtos</h1>
      </header>

      {% for c in site.categorias %}{% capture c_categoria %}{% assign c_crumbs = c.url | split: '/' %}{{ c_crumbs[2] }}{% endcapture %}
        <section class="produtos-categoria{% if c_categoria == categoria %} selected{% endif %}">
          <ul class="post-list">
            <li class="produtos-item">
              <a href="{{ c.url | prepend: site.baseurl }}" class="post-link">{{ c.title }}</a>
              <ul>
              {% for p in site.produtos %}{% capture p_categoria %}{% assign p_crumbs = p.url | split: '/' %}{{ p_crumbs[2] }}{% endcapture %}
                {% if p_categoria == c_categoria %}
                  <li class="produtos-item produtos-subitem">
                    <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
            </li>
          </ul>
        </section>
      {% endfor %}

    </aside>

  </div>

</div>