---
layout: default
---

{% capture categoria %}{% assign page_crumbs = page.url | split: '/' %}{{ page_crumbs[2] }}{% endcapture %}
{% capture subcategoria %}{% assign page_crumbs = page.url | split: '/' %}{{ page_crumbs[3] }}{% endcapture %}
{% capture page_img %}{{ '/img/produtos/' | prepend: site.baseurl }}{{ categoria }}{% if subcategoria != '' %}{{ subcategoria | prepend: '/' }}{% endif %}{{ '.jpg' }}{% endcapture %}

<div class="page-content">

  <div class="wrapper" data-grid="spacing">

    <article class="post" data-cell="2of3">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      <div class="post-content">

        {% for static_file in site.static_files %}
          {% if static_file.path == page_img %}
            <img src="{{ page_img }}" alt="page.title">
          {% endif %}
        {% endfor %}

        {{ content }}

        {% if categoria != '' %}
          <div class="page-content"><button class="adicionar-produto" data-btn="round brand">Adicionar ao orçamento</button></div>
        {% endif %}

        <div data-grid="spacing">
          <ul data-cell="1of2">
          {% for p in site.produtos %}{% capture p_categoria %}{% assign p_crumbs = p.url | split: '/' %}{{ p_crumbs[2] }}{% endcapture %}
            {% if p_categoria == categoria %}
              <li class="produtos-subitem">
                <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
          <div data-cell="1of2">
            <h4>Catálogos</h4>
            {% for download in site.data.features.catalogos %}
              <p><a href="{{ site.baseurl }}/downloads/{{ download.file }}" target="_blank" data-btn="100%">{{ download.title }}</a></p>
            {% endfor %}
          </div>
        </div>

      </div>

      <footer class="form-orcamento">
        <form action="" method="post">
          <h4>Orçamento</h4>
          <p><label for="nome">Nome</label><input type="text" name="nome" placeholder="Nome completo" required></p>
          <p><label for="email">E-mail</label><input type="email" name="email" placeholder="email@dominio.com" required></p>
          <p><label for="telefone">Telefone</label><input type="tel" name="telefone" placeholder="(00) 9 0000 0000" required></p>
          <p><label for="produtos">Produtos</label><input type="text" name="produtos" placeholder="" required></p>
          <p><label for="mensagem">Mensagem</label><textarea name="mensagem" cols="30" rows="5"></textarea></p>
          <p><button>Solicitar orçamento</button></p>
        </form>
      </footer>
    
    </article>

    <aside class="lista lista-produtos" data-cell="1of3">
      
      <header class="lista-header">
        <h2>Produtos</h2>
      </header>

      {% for c in site.categorias %}{% capture c_categoria %}{% assign c_crumbs = c.url | split: '/' %}{{ c_crumbs[2] }}{% endcapture %}
        <article class="produtos-item{% if c_categoria == categoria %} selected{% endif %}">
          <a href="{{ c.url | prepend: site.baseurl }}">{{ c.title }}</a>
          {% for p in site.produtos %}{% capture p_categoria %}{% assign p_crumbs = p.url | split: '/' %}{{ p_crumbs[2] }}{% endcapture %}
            {% if p_categoria == c_categoria %}
              <article class="produtos-subitem">
                <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              </article>
            {% endif %}
          {% endfor %}
        </article>
      {% endfor %}

    </aside>

  </div>

</div>