---
layout: default
---

{% capture categoria %}{% assign page_crumbs = page.url | split: '/' %}{{ page_crumbs[2] }}{% endcapture %}
{% capture subcategoria %}{% assign page_crumbs = page.url | split: '/' %}{{ page_crumbs[3] }}{% endcapture %}
{% capture page_img %}{{ '/img/produtos/' | prepend: site.baseurl }}{{ categoria }}{% if subcategoria != '' %}{{ subcategoria | prepend: '/' }}{% endif %}{{ '.jpg' }}{% endcapture %}

<div class="page-content">

  <header class="wrapper post-header" data-grid="center spacing">
    <div data-cell="2of3">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
    {% if categoria != '' %}
      <p class="add-button-container" data-cell="1of3"><button class="adicionar-produto icon" data-btn="round brand 100%">{% include svg/plus.svg %} Orçamento</button></p>
    {% endif %}
  </header>

  <div class="wrapper" data-grid="spacing">

    <article class="post" data-cell="2of3">

      <div class="post-content">

        {% for static_file in site.static_files %}
          {% if static_file.path == page_img %}
            <img src="{{ page_img }}" alt="page.title">
          {% endif %}
        {% endfor %}

        {{ content }}

        {% if categoria != '' %}
          <div class="page-content add-button-container"><p><button class="adicionar-produto icon" data-btn="round brand">{% include svg/plus.svg %} Adicionar ao orçamento</button></p></div>
        {% endif %}

        <aside data-grid="spacing">
          <div data-cell="1of2">
            {% assign has_subitems = false %}
            {% capture related %}
            {% for p in site.produtos %}{% capture p_categoria %}{% assign p_crumbs = p.url | split: '/' %}{{ p_crumbs[2] }}{% endcapture %}
              {% if p_categoria == categoria %}
                {% assign has_subitems = true %}
                <p>
                  <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                </p>
              {% endif %}
            {% endfor %}
            {% endcapture %}
            {% if has_subitems %}
              <h4>Produtos relacionados</h4>
              {{ related }}
            {% endif %}
          </div>
          <div data-cell="1of2">
            <h4>Catálogos</h4>
            {% for download in site.data.features.catalogos %}
              <p><a href="{{ site.baseurl }}/downloads/{{ download.file }}" target="_blank" data-btn="100%">{{ download.title }}</a></p>
            {% endfor %}
          </div>
        </aside>

      </div>

      <footer class="form-orcamento">
        <form action="" method="post">
          <h4>Orçamento</h4>
          <p><label for="nome">Nome</label><input type="text" name="nome" placeholder="Nome completo" required></p>
          <p><label for="email">E-mail</label><input type="email" name="email" placeholder="email@dominio.com" required></p>
          <p><label for="telefone">Telefone</label><input type="tel" name="telefone" placeholder="(00) 9 0000 0000" required></p>
          <div class="tags-container">
            <label for="produtos">Produtos</label>
            {% for categoria in site.categorias %}
            <p><label class="tag" data-checkable data-block="100%"><input type="checkbox" name="produtos" value="{{ categoria.url }}"> {{ categoria.title }}</label></p>
            <div data-grid="small-spacing wrap">
              {% for produto in site.produtos %}
                {% if produto.url contains categoria.url %}
                  <label class="tag" data-checkable><input type="checkbox" name="produtos" value="{{ produto.url }}"> {{ produto.title }}</label>
                {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
          </div>
          <p><label for="mensagem">Mensagem</label><textarea name="mensagem" cols="30" rows="5"></textarea></p>
          <p><button>Solicitar orçamento</button></p>
        </form>
      </footer>
    
    </article>

    <aside class="lista lista-produtos" data-cell="1of3">
      
      <header class="lista-header">
        <h2>Produtos</h2>
      </header>

      {% for c in site.categorias %}{% capture c_categoria %}{% assign c_crumbs = c.url | split: '/' %}{{ c_crumbs[2] }}{% endcapture %}
        <article class="produtos-item{% if c_categoria == categoria %} selected{% endif %}">
          <a href="{{ c.url | prepend: site.baseurl }}">{{ c.title }}</a>
          {% for p in site.produtos %}{% capture p_categoria %}{% assign p_crumbs = p.url | split: '/' %}{{ p_crumbs[2] }}{% endcapture %}
            {% if p_categoria == c_categoria %}
              <article class="produtos-subitem">
                <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              </article>
            {% endif %}
          {% endfor %}
        </article>
      {% endfor %}

    </aside>

  </div>

</div>